{% extends 'trombinoscope.html' %}
{% load static %}



{% block pagetitle %}
personnel administratif
{% endblock pagetitle %}


{% block welcome %}

{% endblock welcome %}
{% block content %}

<section class="admins mt-4">
  <div class="row g-4">
    {% for m in members %}
    
    <div class="col-md-6">
      <div class="box">

        <div class="member d-flex flex-column align-items-center rounded-2 p-3">
          <div class="member-img">
            <img class="" src="{{m.photo.url}}"
                 alt="admin">
          </div>
          <div class="text-center">
            <h3 class="fs-5 mb-1">{{m.firstname}}</h3>
            <p class="mb-0">{{m.role.name}}</p>
          </div>
        </div>
      </div>

      
    </div>
    {% endfor %}
   
    
  </div>
</section>

{% endblock content %}