{% load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Dashboard</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v3.0.6/css/line.css'>
<link rel="stylesheet" href="{% static 'css/trombinoscope.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="100"
         src="{% static 'logo_isj_1.png' %}"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="/"> usjtrombi </a>
      </h5>
    </div>
  </div>
  
  <ul class="categories list-unstyled">
    <li >
      <i class="uil-estate fa-fw"></i><a href="{% url 'staff' year %}"> Aministration </a></li>
    <li class="">
      <i class="uil-folder"></i><a href="#"> Etudiants</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-user"></i><a href="#"> Ingenieur </a>
      <ul class="sidebar-dropdown list-unstyled">

        {% for r in ingenieur.role_set.all  %}
        <li><a href="{% url 'trombinoscope' year r.id %}">{{r.name}}</a></li>
        {% endfor %}

      </ul>
    </li>
    <li class="has-dropdown">
      <i class="uil-user"></i><a href="#"> Management </a>
      <ul class="sidebar-dropdown list-unstyled">
        {% for r in management.role_set.all  %}
        <li><a href="{% url 'trombinoscope' year r.id %}">{{r.name}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</aside>

<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="#">Trombinoscope<span class="main-color"> {{year}}</span></a>


      </div>
  
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="text-center mt-3">

  <h2>        {% block pagetitle %}{% endblock pagetitle %}</h2>

</div>

  {% block welcome %}
  <div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Bienvenue dans le <class="navbar-brand" href="#">Trombinoscope<span class="main-color"> Saint Jean {{year}}</span></a></h1>
        <p class="mb-0">  Le Trombinoscope Saint Jean est un receuil virtuel de toutes les visages de la communauté 
          <br>   Il sert à présenter chaque membre d’une équipe grâce à une photo personnelle. La photo est souvent accompagnée du nom, du prénom et de certaines informations de la personne concernée. 
        </p>
      </div>
    </div>
  {% endblock welcome %} 
  {% block  content%}

    <section class="admins mt-4">
      <div class="row g-4">
        {% for m in members %}
        
        <div class="col-md-6">
          <div class="box">
    
            <div class="member d-flex flex-column align-items-center rounded-2 p-3">
              <div class="member-img">
                <img class="" src="{{m.photo.url}}"
                     alt="admin">
              </div>
              <div class=" text-center">
                <h3 class="fs-5 mb-1">{{m.firstname}}</h3>
                <p class="mb-0">{{m.role.name}}</p>

        
              </div>
            </div>
          </div>

          
        </div>
        {% endfor %}
       
        
      </div>
    </section>
  
  {% endblock  %}



 

    

    
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</script><script  src="{% static 'scripts/trombinoscope.js' %}"></script>

</body>
</html>
